@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base { 
@font-face {
    font-family: 'Audiowide';
    src: local('Audiowide'), url(./fonts/Audiowide-Regular.ttf) format('ttf');
  }
  @font-face {
    font-family: 'Michroma';
    src: local('Michroma'), url(./fonts/Michroma.ttf) format('ttf');
  }
  @font-face {
    font-family: 'Teko';
    src: local('Teko'), url(./fonts/Teko-Light.ttf) format('ttf');
  }
}